@charset "UTF-8";

/* Versão Global */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--fontIsa);
    
    
}

:root{

    --fontIsa:"Ysabeau Infant";
    --fontMont:"Montserrat"

}
    
a , h1 , .lista-geral{

    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    
}  

h1{
    font-size: 30px;
    position: relative;
    font-weight: 500;
    padding: 20px 0px;
    text-shadow: 2px 3px 2px black;
    
}



.txt .ul-geral {

    display: flex;
    flex-direction: column;
    gap: 15px;
    animation-name: geralMove;
    animation-duration: 800ms;
    
    
    
    
}

.txt > .ul-geral .lista-geral {

    background-color: rgba(0, 0, 0, 0.466);
    width:500px;
    padding: 6px 0px;
    border-radius: 20px;
    position: relative;
    
    
}

.txt > .ul-geral .lista-geral:nth-child(1)::before{

    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url(../image/youtube.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 6px;
    top: 5px;

}

.txt > .ul-geral .lista-geral:nth-child(2)::before{

    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url(../image/instagram.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 6px;
    top: 5px;

}

.icon{

    width: 23px;
    height: 23px;
    position: absolute;
    left: 6px;

}

.txt > .ul-geral .lista-geral:hover{

    background-color: white;
    box-shadow: 0px 0px 10px white;
    transition-property: all;
    transition-duration: 800ms;

    a{
        color:black;
    }
    
}



.box-pai{
    
    position: relative;
    
}

.box > .box-pai > video{

    width: 100%;
}
.box > .box-pai > .txt{

    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50% , -50%);
}
    
.box-pai > .txt > .face{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image:linear-gradient(to bottom ,#ffdf00, #009c3b ,#004aad);
    position: relative;
    left: 160px;
    top: 20px;
}   

.box-pai > .txt > .face::after{

    content:"";
    display: inline-block;
    width: 140px;
    height: 140px;
    background-image: url(../image/neymar.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.box-pai > .txt h1::after{

    content:"";
    display: inline-block;
    height:4px;
    width: 35px;
    background-image: linear-gradient(to left , green , yellow);
    position: absolute;
    bottom: 0;
    top: 57px;
    left: 185px;
    border-radius:20px;
}

.box-pai > .txt h1::before{

    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../image/verificado.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 63%;
    top: 52%;
}


.l-section > .img-ney{

    background-image: url(../image/imagem-de-fundo.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-5px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

 table{
    
    color: white;
    text-align: center;
    font-weight: bold;
    width: 800px;
    
}
    
    
    
    
.l-section > .img-ney > .table-rolagem{

    overflow: auto;
    max-width: 90%;
    border-radius: 13px;
    
}

    
table > thead tr:nth-child(1){

    background-color: #000000d0;
}

table > tbody tr:nth-child(even){

    background-color: #000000d0;
}

table > tbody tr:nth-child(odd){

    background-color: #E9DDCC;
    color: black;
    
}

table > tr,  td , th {

    
    width: 100px;
    height: 50px
}

table .times{

    
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    padding-left: 10px;
   
}
    

table .clubes{

    width: 20px;
    
}



.l-section > .img-ney h2{

    font-size: 45px;
    margin-bottom: 30px;
    text-shadow: 2px 3px 2px black;
    color: white;
    font-weight: bold;
}


@keyframes geralMove {

     0%{
        transform: translateY(-200px)
     }
     100%{
        transform: translateY(0px);
     }
}


/* lista mobilie */



#lista-cel{

    display: none;
}



    
